<ion-header>
  <div class="top_dv">
    <div>
      <button ion-button icon-only clear color="dark" (click)="closeModal()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="text-c title">
      添加城市
    </div>
    <div class="text-r">

    </div>
  </div>
</ion-header>
<ion-content>
  <div class="search_city">
    <input type="text" [(ngModel)]="cityName" class="f-l"> <span (click)="searchCity()">搜索</span>
  </div>
  <div class="pre_city">
    <ion-list *ngIf="showFlag" style="margin-top: 40px" class="cityList">
      <button ion-item *ngFor="let city of preCityList" (click)="addCity(city.name, city.id)">
        {{city.path}}
      </button>
    </ion-list>
  </div>
</ion-content>

