<ion-header>
  <div class="top_dv">
    <div>
      <button ion-button icon-only clear color="dark" (click)="closeModal()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="text-c title">
      添加城市
    </div>
    <div class="text-r">

    </div>
  </div>
</ion-header>
<ion-content padding>
  <div class="search_city">
    <input type="text" [(ngModel)]="cityName" class="f-l"> <span (click)="searchCity()">搜索</span>
  </div>
  <div class="pre_city">
    <ion-list *ngIf="showResult" style="margin-top: 40px" class="cityList">
      <ion-item  *ngIf="searchResult" (click)="addCity(preCityName, preProvName, preCityId)">
        <div class="f-l">
          <span>{{preCityName}} - {{preProvName}}</span>
        </div>
      </ion-item>
      <ion-item  *ngIf="!searchResult">
        <div class="f-l">
          <span>未查询到所输入的城市！</span>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

