<ion-header>
  <div class="top_dv">
    <div>
      <button ion-button icon-only clear color="dark" (click)="closeModal()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="text-c title">
      选择城市
    </div>
    <div class="text-r">
      <button ion-button icon-only clear color="dark" (click)="addCity()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-list style="margin-top: 40px" class="cityList">
    <ion-item *ngIf="showFlag">
      请添加城市......
    </ion-item>
    <ion-item-sliding  *ngFor="let city of cityList" (click)="goToHomePage(city.cityName,city.cityId)">
      <button ion-item>
        <ion-avatar item-start>
          <img src="assets/weather_img/{{city.weather_code}}.png" alt="">
        </ion-avatar>
        <h2 style="margin-top: 0px">{{city.cityName}}</h2>
        <h2 item-end>{{city.temperature}}℃</h2>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteCity(city.cityId)">
          <ion-icon name="close" style="margin: 0 auto"></ion-icon>
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
